.signForm {
    position: absolute;
    top: 130px;
    left : 20vw;
    display: flex;
    font-family: "Ubuntu", sans-serif;
    animation: unfoldBanner 6s ease-out forwards;
    transform-origin:  top;
    transform: scaleY(0);
    z-index: 9999;
    background-color: rgba(3, 145, 247, 0.4);
    
}
h1{
    font-size: 24px;
    text-align: center;
}
.form-dibba{
    height: 70vh;
    width: 60vh;
    padding-left: 30px;
    padding-top: 30px;
    border: 2px solid rgb(11, 155, 238);
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    font-weight: bolder;

}

@keyframes unfoldBanner {
    0% {
        transform: scaleY(0);
       
    }

    60% {
        transform: scaleY(1.05);
       ;
        /* slight overshoot for a “roll” feel */
    }

    100% {
        transform: scaleY(1);
      
    }
}

.input-dibba {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#input-dibba-submit {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input-dibba-label {
    display: inline-block;
    font-size: large;
}

.input-dibba-box {
    width: 80%;
    height: 40px;
}

#submitBtn {
    height: 40px;
    width: 160px;
    font-size: large;
    border-radius: 5px;
    background-color: rgb(61, 184, 228);
    color: white;

}

.img {
    height: 70vh;
    width: 50vh;
    border: 2px solid rgb(11, 155, 238);
    background-image: url(image.png);
}
.natural-size-img {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 50vh; /* Prevents overflow beyond viewport */
    display: block;
    margin: 0 auto; /* Centers if needed */
}
.icon-link:visited,
.icon-link:hover,
.icon-link:active {
  color: inherit;
  text-decoration: none;
}
.custom-pills {
    --bs-nav-pills-link-active-bg: var(--bs-info-bg-subtle);
    --bs-nav-pills-link-active-color: black; 
    
}


